html,
body,
.MapLayer,
.LoadingSplash {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: black;
}

// Debug colours
body.env-development {
  .map-genre-overlay {
    border: 1px red solid;

    &__related {
      border-color: green;
    }

    &__fusion {
      border-color: blue;
    }
  }
}

.MapLayer {
  // Vignette
  &:before {
    content: '';
    position: absolute;
    z-index: 100;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: radial-gradient(ellipse at center, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 50%,rgba(0,0,0,0.95) 100%);
    pointer-events: none;
  }
}

.LoadingSplash {
  // TEMP
  color: white;
  text-align: center;
  font-size: 50px;
}