$font-sans-serif:         Arial, 'Helvetica Neue', Helvetica, sans-serif;
$font-chineserocks:       'ChineseRocks', Georgia, Times, "Times New Roman", serif;
$font-faithcollapsing:    'FaithCollapsing', Impact, Haettenschweiler, 'Arial Black', sans-serif;
$font-flamacondensed:     'FlamaCondensed', Arial, 'Helvetica Neue', Helvetica, sans-serif;
$font-flamasemicondensed: 'FlamaSemiCondensed', Arial, 'Helvetica Neue', Helvetica, sans-serif;

$image-path: '/static/img/';
$font-path:  '/static/font/';

$zindex-xxs: 100;
$zindex-xs:  200;
$zindex-s:   350;
$zindex-m:   500;
$zindex-l:   750;
$zindex-xl:  1000;
$zindex-xxl: 10000;

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: black;
  box-sizing: border-box;
  font-family: $font-sans-serif;
  -webkit-font-smoothing: antialiased;
  overflow: hidden;

  * {
    box-sizing: inherit;
  }
}

// Webkit scrollbars
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb{
  background-color: rgb(255, 255, 255);
  border-radius: 0;
}

::-webkit-scrollbar-thumb:hover{
  background-color: rgb(196, 196, 196);
}

::-webkit-scrollbar-track{
  background-color: rgb(63, 61, 60);
}

// Internet explorer scrollbars
body {
  scrollbar-arrow-color: #FFFFFF;
  scrollbar-base-color: #FFFFFF;
  scrollbar-track-color: #3f3d3c;
  scrollbar-face-color: #FFFFFF;
  scrollbar-highlight-color: #FFFFFF;
  scrollbar-3dlight-color: #FFFFFF;
  scrollbar-darkshadow-color: #FFFFFF;
  scrollbar-shadow-color: #FFFFFF;
}

a {
  color: inherit;
}

button {
  background: transparent;
  border: none;
  color: inherit;
  cursor: pointer;
}

// Debug colours
body.env-development {
  .map-genre-overlay {
    border: 1px red solid;

    &__related {
      border-color: green;
    }

    &__fusion {
      border-color: blue;
    }
  }
}

@import 'fonts';

@import 'components/app';
@import 'components/map-layer';
@import 'components/loading-splash';
@import 'components/top-bar';
@import 'components/genre-info';
@import 'components/track-list';
@import 'components/now-playing';
@import 'components/video-player';
@import 'components/player-controls';
@import 'components/fatal-error-screen';

@import 'components/modal';
@import 'components/settings-modal';
@import 'components/share-modal';
@import 'components/about-modal';