$font-sans-serif: Arial, "Helvetica Neue", Helvetica, sans-serif;
$font-chineserocks: "ChineseRocks", Georgia, Times, "Times New Roman", serif;
$font-faithcollapsing: "FaithCollapsing", Impact, Haettenschweiler,
  "Arial Black", sans-serif;
$font-flamacondensed: "FlamaCondensed", Arial, "Helvetica Neue", Helvetica,
  sans-serif;
$font-flamasemicondensed: "FlamaSemiCondensed", Arial, "Helvetica Neue",
  Helvetica, sans-serif;

$zindex-xxs: 100;
$zindex-xs: 200;
$zindex-s: 350;
$zindex-m: 500;
$zindex-l: 750;
$zindex-xl: 1000;
$zindex-xxl: 10000;
