$map-components: '.TopBar, .NowPlaying, .PlayerControls, .GenreInfo, .TrackList';

.Page.transition-enter {
  #{$map-components} {
    opacity: 0 !important;
  }
}

.Page.transition-enter-active {
  #{$map-components} {
    opacity: 1 !important;
    transition: opacity 1s 2.5s !important;
  }
}