.SettingsModal {
  padding: 15px 20px 20px 20px;
  width: 420px;
  max-width: 95%;

  .Modal {
    &-title {
      margin: 0 0 10px 0;
    }

    &-settings {
      list-style-type: none;
      margin: 0;
      padding: 0;

      > li {
        display: flex;
        flex-wrap: wrap;
      }

      &-title,
      &-value,
      &-description {
        flex: 0 1 auto;
        cursor: default;
      }

      &-title {
        flex-grow: 1;
      }

      &-value {
        cursor: pointer;
      }

      &-title,
      &-value {
        font-size: 20px;
      }

      &-description {
        color: #868585;
        font-size: 16px;
        flex-basis: 100%;
        padding: 10px;
      }
    }

    &-footer {
      margin-top: 50px;
      text-align: right;
    }
  }
}