.App {
  .transition-enter {
    opacity: 0;

    &-active {
      opacity: 1;
      transition: opacity 1s 2s;
    }
  }

  .transition-leave {
    opacity: 1;

    &-active {
      opacity: 0;
      transition: opacity 1s;
    }
  }
}