.LoadingSplash {
  text-align: center;
  position: absolute;
  background: black;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 20;

  span {
    cursor: default;
  }

  &-logo {
    background-image: url('#{$image-path}logo.jpg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
  }

  &-notice,
  &-loading,
  &-enter,
  &-mobile-notice {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    color: white;
    text-align: center;
  }

  &-notice {
    top: 66%;
    font-family: $font-sans-serif;
    font-size: 11px;
    color: #a6a5a5;
    cursor: default;
    text-shadow: 0 0 4px black;
    padding: 0 20px;

    a {
      text-decoration: underline;
    }

    @media all and (max-height: 850px) {
      top: 80%;
    }

    @media all and (max-width: 920px) {
      top: auto;
      bottom: 40px;
    }
  }

  &-mobile-notice {
    background: #9c2a2a;
    color: white;
    padding: 20px;
    font-size: 15px;
    top: 10px;
    font-family: $font-sans-serif;
    text-shadow: 0 0 4px black;

    @media all and (min-width: 732px) {
      display: none;
    }
  }

  &-loading,
  &-enter {
    top: 70%;
    font-family: $font-chineserocks;
    font-size: 28px;

    &.transition-enter {
      opacity: 0;

      &-active {
        opacity: 1;
        transition: opacity 1s 1s;
      }
    }

    &.transition-exit {
      &-active {
        opacity: 0;
        transition: opacity 1s;
      }
    }
  }

  &-enter {
    font-size: 34px;

    a {
      cursor: pointer;

      @media all and (max-width: 920px) {
        top: auto;
        bottom: 40px;
        border: 2px solid rgb(70, 26, 104);
        background: rgba(0, 0, 0, 0.5);
        padding: 10px 20px;
      }
    }
  }

  .Page.transition-exit & {
    opacity: 1;
    transition: opacity 1s;
  }

  .Page.transition-exit-active & {
    opacity: 0;
  }
}