.NowPlaying {
  position: absolute;
  background: black;
  z-index: $zindex-m;
  font-size: 12px;
  color: #cccccc;
  padding: 9px 6px;
  bottom: 254px;
  cursor: pointer;

  strong {
    color: white;
  }
}