.PlayerControls {
  position: absolute;
  background: black;
  z-index: $zindex-m;
  top: 305px;
  right: 0;
  padding: 8px 15px;
  color: white;
  height: 60px;
  width: 333px;
  display: flex;
  align-items: center;
  cursor: default;

  @media all and (min-width: 1120px) {
    top: auto;
    bottom: 20px;
    width: 380px;
  }

  &-left {
    flex: 0 1 auto;
    margin-right: 18px;
  }

  &-right {
    flex: 1 1 auto;
  }

  &-time {
    font-size: 11px;
    font-family: $font-sans-serif;
  }

  &-title,
  &-artist {
    font-family: $font-flamasemicondensed;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &-title {
    font-size: 18px;
  }

  &-artist {
    font-size: 14px;
    color: #d6d6d6;
  }

  &-controls {
    display: flex;
    align-items: baseline;
    margin-top: 5px;

    > div {
      margin: 0 5px;
      flex: 0 1 auto;

      &:first-child {
        margin-left: 0;
      }
    }
  }

  &-play,
  &-pause {
    width: 8px;
    height: 10px;
    background-repeat: no-repeat;
    background-image: url('#{$image-path}arrow.svg');
    cursor: pointer;
  }

  &-pause {
    background-image: url('#{$image-path}pause.svg');
  }

  &-volume {
    width: 24px;
    height: 12px;
    border: 1px solid white;
    border-top: none;
    position: relative;
    cursor: pointer;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: -1px;
      right: -1px;
      height: 9px;
      background-repeat: no-repeat;
      background-image: url('#{$image-path}volume-top.svg');
      z-index: ($zindex-m + 1);
    }

    &-handle {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      background: white;
    }
  }
}