.TopBar {
  background: black;
  position: absolute;
  z-index: $zindex-m;
  padding: 0 18px;
  margin: 0;
  top: 10px;
  right: 0;
  list-style-type: none;
  transition: opacity 0.4s;

  &-item {
    display: inline-block;
    color: white;

    button {
      padding: 10px 12px;
      font-size: 12px;
      outline: none;
      transition: color 0.2s, box-shadow 1s;

      &:hover,
      &:focus {
        box-shadow: inset 0 -2px 0 white;
        transition: color 0.2s, box-shadow 0.3s;
      }
    }
  }

  &:hover {
    .TopBar-item {
      color: #999;

      &:hover {
        color: white;
      }
    }
  }

  .is-dragging & {
    opacity: 0.25;
  }
}