.TrackList {
  background: black;
  position: absolute;
  z-index: $zindex-m;
  width: 222px;
  height: 223px;
  color: white;
  padding: 8px 8px 8px 12px;
  left: 513px;
  bottom: 22px;

  &-content {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;
    width: 100%;
    padding-right: 12px;
    -webkit-overflow-scrolling: touch;
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  li {
    display: block;
    padding: 4px 0;
    font-size: 11px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;

    &.is-playing {
      color: #cd8d5b;
    }
  }
}