.VideoPlayer {
  background: black;
  position: absolute;
  z-index: $zindex-m;
  width: 323px;
  height: 242px;
  top: 55px;
  right: 10px;
  border: 1px solid white;
  opacity: 0;
  transition: opacity 1s;

  &.active {
    opacity: 1;
  }
}